#navbar{
        height: 50px;
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(245, 204, 127);
}
#search_input{
    height: 25px;
    border-radius: 10px;
    width: 70%;
  
}
#append{
    height: 100%;
}
#sidebar{
            /* border: 1px solid black; */
width: 300px;
height: 100%;
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 5px;





}
button{
    width: 70%;
    margin: auto;
    margin-top: 5px;
    background-color: teal;
}

#results{
    /* border: 1px solid black; */
}
#append{
    display: flex;
    gap: 20px;
}
#box1{
    display: flex;
    /* width: 100px;
    height: 200px;
} */
gap: 100px;
border: 2px solid gray;
}
img{
height: 200px;
width: 300px;
}